.logo {
    text-indent: -99999px;
    width: 65px;
    height: 65px;
    background: url(../images/logo.png);
    background-size: 65px;
    background-position: center left;
    background-repeat: no-repeat;
    display: block;
  }
header{
    background-color: #ddb8a6;
    display: flex;
    justify-content: space-between;
    padding: 10px 25px;
}

  nav{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

li a{
  color: #989e8b;  
  font-weight: bold;
  font-family: dmserif;
  text-decoration: none;

}

h2{
  margin: 30px 0;
  text-align: center;
  font-family: dmserif;
  color: #7b876d;
}
.carrousel-interno {
    display: flex;
    width: 100%;
    height: 600px;
  }

.imagencarrousel{
    width: 100%;
    object-fit: cover;
}

.card{
    background-color: #989e8b;
    font-family: seriftexto;
    display: flex;
}

.card h5{
    font-family: dmserif;
    font-weight: bold;
}

.card a{
    background-color: #7b876d;
    border: #7b876d;
}

.card img{
    width: 300px;
    height: 400px;
}

div h4{
    font-family: dmserif;
    color: #7b876d;
    font-weight: bold;
}

div p{
    font-family: seriftexto;
    color: #7b876d;
}

.formularioglamp{
    background-color: rgb(219, 216, 216);
    text-align: center;
    font-family: seriftexto;
  }

  .botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px 0;
    font-family: dmserif;
    color: #7b876d;
  }

.divtexto h3{
    font-family: dmserif;
    color: #7b876d;
    font-weight: bold;
    text-align: center;
}
.divtexto p{
    font-size: large;
}
.divdespensa h3{
    font-family: dmserif;
    color: #7b876d;
    font-size: 30px;
    margin: 60px;
    text-align: center;
}
.divdespensa p{
    font-family: seriftexto;
    font-weight: bold;
    font-size: large;
    text-align: center;
    margin: 10px;
}


footer {
    margin: 100px 0;
    padding: 100px;
    background-color: #ddb8a6;
  }
  
  footer > div {
    display: flex;
    width: 100%;
    gap: 150px;
    justify-content: center;
  }
  
  footer div ul {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
  }

  footer div h4 {
    color: #989e8b;
    font-family: dmserif;
  }
  footer > p {
    margin-top: 50px;
    font-family: seriftexto;
    text-align: center;
  }

@font-face {
    font-family: dmserif;
    src: url(../fonts/DMSerifDisplay-Regular.ttf);
  }
  
  @font-face {
    font-family: seriftexto;
    src: url(../fonts/IBMPlexSerif-Light.ttf);
  }